<footer>
    <div class="footer-info">
        <div class="f-info-link">
            <a href="">Privecy</a>
            <a href="">Terms</a>
            <a href="">About us</a>
        </div>
        <div class="cop-right">&copy;Car Deal</div>
        <div class="f-info-social">
            <a href="https://www.linkedin.com/in/manoj-singh-kuntiya-899155273"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/manoj.singhkuntiya"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/manoj._684?igsh=dGh4NTU2emQ2a3Yz"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</footer>