
<nav class="navbar navbar-expand-lg navbar-light nav-bgc">
  <div class="container-fluid">
    <!-- <div class="img">
      <img src="https://t3.ftcdn.net/jpg/02/56/94/74/360_F_256947432_mW9bJpGFdJo9kw9XovizaHcQI2NOVXc8.jpg" alt=""
        class="logo-img">
    </div> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-link" href="/home">Home</a>
        <a class="nav-link" href="/listings">Explore</a>
        
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">List your car</a>
        <% if(!currUser){ %>
        <a class="nav-link" href="signup">Sign up</a>
        <a class="nav-link" href="/login">Log in</a>
        <% } %>
        <% if(currUser){ %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>

  </div>
</nav>




