<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body class="main">
    <div class="home-nav">
        <div class="home-logo">
            <span>GearUp</span>
        </div>
        <div class="home-nav-opt">
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">CONTACT US</a>
            <a href="">HELP</a>
            <a href="/signup"><button class="signup-btn">
                    Sign up
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button></a>
        </div>
    </div>

    <div class="content">
        <div class="text">
            <b><p>Effortlessly rent cars for any occasion, offering convenience, flexibility, and quality vehicles for your
                travel needs</p></b>
            <p>Experience seamless travel with our car rental service. From compact to luxury vehicles, we offer a
                diverse fleet to suit your needs. Enjoy convenience, affordability, and flexibility with easy booking,
                competitive rates, and exceptional customer service. Start your journey with us today!</p>
        </div>
        <div class="show-img">
            <img src="https://res.cloudinary.com/dcoeseoi4/image/upload/v1715150037/Car-Rentals-in-India-3763649627_rbigaw.jpg"
                alt="">
        </div>
    </div>

    <div class="explore">
        <a href="/listings"><button class="learn-more">
            <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">Explore</span>
          </button></a>
    </div>
</body>

</html>